@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  text-align: center;
  height: 100%;
  background: #f5ffed;
  font-family: "VT323";
}

.dark_mode {
  background: #1c232a;
}
.welcomeScreen {
  display: inline-block;
  visibility: visible;
  width: 100%;
  height: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#pixelKnight {
  font-size: 45px;
  color: #8cc584;
  animation: title 2s infinite alternate linear;
}
#rulesButton, #playGameButton, #settingsButton {
  position: relative;
  top: 175px;
}

@keyframes title {
  0% {
    font-size: 290%;
  }
  100% {
    font-size: 300%;
  }
}

/* Game window/background styling */
#game {
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #228bdb; */
  border: 4px solid #86cd7c;
  width: 325px;
  height: 300px;
  border-radius: 80px;
  background-color: #ffffff;
  position: relative;
  top: 150px;
  background-color: transparent;
}

.dark_mode #game {
  border-color: #323c43;
  background-color: #434a64;
}

#background {
  background: url("./assets/tamagotchiback2.gif") center center no-repeat;
  background-size: cover;
  border-radius: 75px;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  filter: contrast(100%) brightness(100%);
}

.dark_mode #background {
  filter: brightness(35%) hue-rotate(75deg) saturate(40%) contrast(90%);
}

/* sprite animations */
@keyframes idle {
  from {
    transform: translate(0px, 0);
  }
  to {
    transform: translate(-555px, 0);
  }
}

@keyframes dead {
  from {
    transform: translate(0px, -666px);
  }
  to {
    transform: translate(-777px, -666px);
  }
}
/* ////////////////// */
#spriteSheet {
  width: 111px;
  height: 111px;
  filter: brightness(125%) contrast(125%);
  /* background-color: red; */
  position: relative;
  overflow: hidden;
  left: 35%;
  top: 35%;
}

.spriteClass.idle {
  animation: idle 0.7s steps(5) infinite alternate;
}

.spriteClass.dead {
  transform: translate(-666px, -666px);
  animation: dead 0.8s steps(7);
  animation-iteration-count: 1;
}

#sprite_1,
#sprite_2,
#sprite_3,
#sprite_4 {
  position: absolute;
  width: 888px;
  height: 888px;
  top: 0;
  left: 0;
  /* animation: idle 0.6s steps(5) infinite; */
}

#spriteText {
  filter: none;
  color: rgb(0, 0, 0);
  font-family: "VT323";
  font-size: 14px;
  position: absolute;
  background-color: #ffffff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 2px 4px 3px 4px;
  top: 30px;
  left: 45px;
  visibility: visible;
}

/* Stat/Info display styling */
#timer {
  font-size: 25px;
  color: #a39f72;
  position: relative;
  top: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  visibility: hidden;
  width: 60px;
  background: #fffee6;
  border: 2px solid #e4e49c;
  border-radius: 25px;
}

#timer:hover {
  cursor: default;
}

.dark_mode #timer {
  color: #fffbaf;
  background: #3d3d36;
}

/* Icon Styling for the stats*/
#name_level {
  font-size: 22px;
  color: #a39f72;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 125px;
  visibility: hidden;
  background: transparent;
}

#name_level:hover {
  cursor: default;
}

.dark_mode #name_level {
  color: #fffa9d;
}
/* filters generated with https://codepen.io/sosuke/pen/Pjoqqp */
.icon {
  filter: invert(96%) sepia(10%) saturate(1418%) hue-rotate(358deg)
    brightness(91%) contrast(45%);
  width: 20px;
  margin: 2px 2px;
  background-color: transparent;
}

.dark_mode .icon {
  filter: invert(96%) sepia(10%) saturate(1418%) hue-rotate(358deg)
    brightness(91%) contrast(45%);
}

#sleepIcon {
  height: 20px;
  width: 12%;
  margin-left: 24px;
  margin-right: 3px;
}

#boredomIcon {
  margin-left: 25px;
  margin-right: 5px;
}

#hungerIcon {
  margin-left: 0px;
  margin-right: 5px;
}

#stats {
  font-family: 'Times New Roman', Times, serif ;
  margin: 0 auto;
  display: flex;
  visibility: hidden;
  font-size: 15px;
  color: #35b435;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  width: 200px;
  top: 140px;
  font-weight: bold;
  background: #fffff4;
  border-radius: 25px;
  border: 2px solid #e4e49c;
}

#stats:hover {
  cursor: default;
}

.dark_mode #stats {
  /* color: #fffa9d; */
  background: none;
}

/* Input field/label/submit button styling*/
#userInputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  margin: 0 auto;
  font-size: 20px;
  visibility: visible;
}

#userInputDiv label {
  color: #a39f72;
  font-weight: bold;
}

#username {
  margin: 10px auto;
  border: 2px solid #a39f72;
  border-radius: 5px;
  background: #fffee5;
  color: #a39f72;
}

/* BUTTON STYLING  */
#buttonDiv {
  position: relative;
  top: 165px;
  display: inline-block;
  visibility: hidden;
}

.button {
  font-family: "VT323";
  font-size: 18px;
  background: #ffffff;
  /* font-weight: bold; */
  color: #8e8d65;
  background-color: #fffee6;
  border: 2px solid #e4e49c;
  border-radius: 10px;
  padding: 4px;
  position: relative;
}

#sun,
#moon {
  filter: invert(96%) sepia(10%) saturate(1418%) hue-rotate(358deg)
    brightness(60%) contrast(35%);
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  margin-top: -1px;
  background-size: fit;
}

#sun {
  display: none;
}

#moon {
  display: inline-block;
}

.button:hover {
  background-color: #fff8d4;
}

.button:active {
  background-color: #b6b2a6;
  border: 2px solid #8e8d65;
}
