body {
  text-align: center;
  background: #ffffff;
  height: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  background: -webkit-linear-gradient(#f2ffbf, #80dbff, #ffc8ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 80px auto;
}

#game {
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #228bdb; */
  border: 2px solid #228bdb;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  background-color: none;
  position: relative;
}

#background {
  background: url("./assets/tamagotchiBack.gif") center center no-repeat;
  background-size: cover;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#timer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #1a5f93;
  position: relative;
  top: 10px;
  /* display: block; */
  display: none;
}

#statBox {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #11436ad6;
  border-radius: 5px;
  padding: 4px;
  width: 110px;
  font-size: 12px;
  line-height: 16px;
  color: #84caff;
  display: none;
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  top: -12px;
  left: 7px;
  text-align: start;
  font-style: italic;
  font-weight: bold;
}

#nameAge {
  background-color: #0d324fd6;
  border-radius: 5px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #84caff;
  display: none;
  /* display: block;
  flex-direction: column; */
  position: relative;
  top: -69px;
  left: 384px;
  text-align: start;
  font-style: italic;
  font-weight: bold;
  padding: 4px;
}

#userInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

#userInput label {
  font-family: Arial, Helvetica, sans-serif;
  color: #228bdb;
  font-weight: bold;
}

#username {
  height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#username {
  margin: 10px auto;
  border: 2px solid #228bdb;
  border-radius: 5px;
  background-color: #ffffff;
  color: #228bdb;
  font-family: Arial, Helvetica, sans-serif;
}

/* BUTTON STYLING  */
.button {
  background: #ffffff;
  font-family: "helvetica";
  /* font-weight: bold; */
  color: #228bdb;
  background: #ffffff;
  border: 2px solid #228bdb;
  border-radius: 5px;
  padding: 7px;
  position: relative;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

#buttonContainer {
  position: relative;
  margin: 20px auto;
  /* display: block; */
  display: none;
}

.button:hover {
  background-color: #00000013;
}

.button:active {
  background-color: #228bdb;
}
